#element-button {
	-fx-font-size: 10.0px;
	-fx-font-weight: bold;
}

#info-label-header {
	-fx-font-family: "Overpass Mono";
	-fx-font-size: 12.0px;
}

#info-label-text {
	-fx-font-family: "Overpass Mono";
	-fx-font-size: 12.0px;
}